// Colors#444F43

$white-color-1: #ffffff;
$white-color-2: #F9F9F6;
$white-color-3: #F1EFE8;

$grey-color-1: #D9D9D9;
$grey-color-2: #B9B9B9;
$grey-color-3: #ADADAD;
$grey-color-4: #BBB8AD;
$grey-color-5: #C7C7C7;

$green-color-1: #DDEDDF;
$green-color-2: #D3E1CF;
$green-color-3: #9A9F96;
$green-color-4: #929A93;
$green-color-5: #424F44;
$green-color-6: #2B342C;
$green-color-7: #404F42;
$green-color-8: #444F43;
$green-color-9: #283229;

$orange-color-1: #D19D50;
$orange-color-2: #D09A4B;
$orange-color-3: #B68742;
$orange-color-4: #9E6E28;
$orange-color-5: #D0B184;



$sand-color-1: #E5DDD0;
$sand-color-2: #E7D3B6;

$red-color-1: #E5514F;

// Fonts

$playfair: "Playfair Display", sans-serif;
$tolyer: "Tolyer", sans-serif;
$openSans: "Open Sans", sans-serif;


// transitions

$standart-transition-time: 250ms;
$standart-transition-style: cubic-bezier(0.4, 0, 0.2, 1);

// Width standarts

$mobile: 479.98 + px;
$tablet: 767.98 + px;
$pc: 1199.98 + px;
$big-pc: 1919.98 + px;