doctype

html(lang='en')
  head
    
    - var title = "Innercamp Home Pages"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/logo.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')

  body.info(data-img='img/1.png')

    .bar-long
    
    .scroll__menu.none
      .container

    
    .right__menu
      .bock__top
        a.close(href='javascript:;')
          img.logo__img(src='img/close.svg', alt='logo_black')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
    


    header
      .container
        .box__logo
          a.logo(href='javascript:;')
            img(src='img/logo.png' alt='logo')

        .menu__
          ul#menu-header.menu
            li#menu-item-5.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-has-children.menu-item-5
              a(href='javascript:;') Experiences
              ul.sub-menu
                li
                  a(href='#') Experiences 2
                li
                  a(href='#') Experiences 2
            li
              a(href='javascript:;') Get Certified

            li
              a(href='javascript:;') Testimonials
            li
              a(href='javascript:;') About us
            li
              a(href='javascript:;') Download the APP
    
        .naviget__
          a.user(href='javascript:;')
          a.cart(href='javascript:;')
            span 2
          a.open__(href='javascript:;') 
          
   

    div
    section.hero
      .container
        p.hero__subtitle with Proven Holistic Trainings
        p.hero__subtitle-2 WITH HOLISTIC EXPERIENCES 
        h1.hero__title
          | Transform 
          br
          |  Mind, Body &amp; Spirit
        img.hero__deko--line-1(src='img/mobile/line.png' alt='line')
        img.hero__deko--ellipse(src='img/mobile/hero/ellipse.png' alt='line')
        img.hero__deko--ellipse-2(src='img/mobile/hero/ellipse.png' alt='line')
        img.hero__deko--line-2(src='img/mobile/line.png' alt='line')
        img.hero__deko--line-3(src='img/common/line-vertical-pc.png' alt='')
        img.hero__deko--line-4(src='img/common/line-vertical-pc.png' alt='')
        img.hero__deko--line-5(src='img/common/line-vertical-pc.png' alt='')
        img.hero__deko--line-6(src='img/common/line-vertical-pc.png' alt='')
        img.hero__deko--line-7(src='img/common/line-vertical-pc.png' alt='')
        img.hero__deko--line-8(src='img/mobile/line.png' alt='')
        p.hero__info
          | Welcome to InnerCamp. Our mission is to guide you in rediscovering your true
          | potential. Through holistic experiences, teacher trainings, and retreats.
        a.primary__btn.hero__btn Discover our trainings 
        a.hero__scroll
          | SCROLL
        p.hero__innercamp
          | Inner
          br
          |  camp
          
          
    div
    section.news.none
      .container
        p.news__subtitle
          | News
        h2.news__title What&apos;s new at InnerCamp
      .news__btns
        a.news__btns-btn-2
        a.news__btns-btn-1
      .carousel.news__carousel(data-flickity='{"wrapAround": false, "prevNextButtons": false}')
        .carousel-cell
          .news__card
            picture
              source(srcset='./images/mobile/news/image-01-01-pc.png' media='(min-width: 1200px)')
              source(srcset='./images/mobile/news/image-01-01.png' media='(min-width: 300px)')
              img.news__card-img-1(src='img/mobile/news/image-01-01.png' alt='image')
            img.news__ellipse(src='img/ellipse.svg' alt='line')
            picture
              source(srcset='./images/mobile/news/image-01-02-pc.png' media='(min-width: 1200px)')
              source(srcset='./images/mobile/news/image-01-02.png' media='(min-width: 300px)')
              img.news__card-img-2(src='img/mobile/news/image-01-02.png' alt='image')
            p.news__card-title Become a breathwork teacher
            a.news__card-subtitle Join now
            a.primary__btn.news__card-btn Discover Our Trainings
        .carousel-cell
          .news__card
        .carousel-cell
          .news__card
        .carousel-cell
          .news__card
        .carousel-cell
          .news__card
        .carousel-cell
          .news__card
        .carousel-cell
          .news__card
        .carousel-cell
          .news__card
          
          
    div

    section.who-we-are.none
      .container.overflow
        .who-we-are__container
          img.who-we-are__img1(src='img/common/who-we-are/img1.png' alt='')
          img.who-we-are__img2(src='img/common/who-we-are/img2.png' alt='')
          img.who-we-are__img3(src='img/common/who-we-are/img3.png' alt='')
          a(href='')
            img.who-we-are__img4(src='img/common/who-we-are/img4.png' alt='')
          a(href='')
            img.who-we-are__img5(src='img/common/who-we-are/img5.png' alt='')
          a(href='')
            img.who-we-are__img6(src='img/common/who-we-are/img6.png' alt='')
          a(href='')
            img.who-we-are__img7(src='img/common/who-we-are/img7.png' alt='')
          a(href='')
            img.who-we-are__img8(src='img/common/who-we-are/Teacher-Trainings.png' alt='')
          a(href='')
            img.who-we-are__img9(src='img/common/who-we-are/Virtual-Workshops.png' alt='')
          a(href='')
            img.who-we-are__img10(src='img/common/who-we-are/Onsite-Retreats.png' alt='')
          a(href='')
            img.who-we-are__img11(src='img/common/who-we-are/InnerCamp-APP.png' alt='')
          p.who-we-are__subtitle innercamp
          h2.who-we-are__title Who we are
        .who-we-are__btns
          button.who-we-are__btns-btn-1(type='button')
          button.who-we-are__btns-btn-2(type='button')
                
    div
    section.certificates.none
      .container
        ul.certificates__static
          li.certificates__card
            p.certificates__card-subtitle INNERCAMP IS AN ACCREDITED SCHOOL
            p.certificates__card-text
              | InnerCamp is registered and accredited by the Complementary
              | Medical Association.
              | It is also a member school of the International Breathwork Foundation.
            ul.certificates__card-images
              li.certificates__card-item
                img.certificates__card-images-image(src='img/mobile/certificates/brand_01.png' alt='')
              li.certificates__card-item
                img.certificates__card-images-image(src='img/mobile/certificates/brand_02.png' alt='')
              li.certificates__card-item
                img.certificates__card-images-image(src='img/mobile/certificates/brand_05.png' alt='')
            p.certificates__card-text
              | Our courses are accredited by leading independent CPD
              | accreditation institution.
          img.certificates__line(src='img/mobile/line.png' alt='line')
          li.certificates__card
            p.certificates__card-subtitle Awards
            p.certificates__card-text
              | We are awarded with the Holistic Health Specialists of the
              | 2022/2023 Award by the &quot;Prestige Awards&quot;.
            ul.certificates__card-images
              li.certificates__card-item
                img.certificates__card-images-image(src='img/mobile/certificates/brand_03.png' alt='')
              li.certificates__card-item
                img.certificates__card-images-image(src='img/mobile/certificates/brand_04.png' alt='')
            p.certificates__card-text
              | InnerCamp was also recognized as the Leading provider of
              | Holistic Therapy 2022 by the GHP (Global Health &amp; Pharma) Magazine.
      .carousel.certificates__slider(data-flickity='{ "wrapAround": false, "prevNextButtons": false}')
        .carousel-cell
          .certificates__card
            p.certificates__card-subtitle INNERCAMP IS AN ACCREDITED SCHOOL
            p.certificates__card-text
              | InnerCamp is registered and accredited by the Complementary
              | Medical Association.
              | It is also a member school of the International Breathwork Foundation.
            ul.certificates__card-images
              li.certificates__card-item
                img.certificates__card-images-image(src='img/mobile/certificates/brand_01.png' alt='')
              li.certificates__card-item
                img.certificates__card-images-image(src='img/mobile/certificates/brand_02.png' alt='')
            p.certificates__card-text
              | Our courses are accredited by leading independent CPD
              | accreditation institution.
        .carousel-cell
          .certificates__card
            p.certificates__card-subtitle Awards
            p.certificates__card-text
              | We are awarded with the Holistic Health Specialists of the
              | 2022/2023 Award by the &quot;Prestige Awards&quot;.
            ul.certificates__card-images
              li.certificates__card-item
                img.certificates__card-images-image(src='img/mobile/certificates/brand_03.png' alt='')
              li.certificates__card-item
                img.certificates__card-images-image(src='img/mobile/certificates/brand_04.png' alt='')
            p.certificates__card-text
              | InnerCamp was also recognized as the Leading provider of
              | Holistic Therapy 2022 by the GHP (Global Health &amp; Pharma) Magazine.

                
    div

    section.partners.none
      .container
        p.partners__subtitle
          | PARTNERS
        h2.partners__title.partners__title As seen in
        ul.partners__list
          li.partners__item
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_01.png' alt='')
          li.partners__item
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_02.png' alt='')
          li.partners__item
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_03.png' alt='')
          li.partners__item
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_04.png' alt='')
          li.partners__item
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_05.png' alt='')
          li.partners__item
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_06.png' alt='')
          li.partners__item
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_07.png' alt='')
        .carousel.partners__slider(data-flickity='{ "wrapAround": false, "prevNextButtons": false,  "wrapAround": true, "autoPlay": 1250}')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_01.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_02.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_03.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_04.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_05.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_06.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_07.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_01.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_02.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_03.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_04.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_05.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_06.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_07.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_01.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_02.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_03.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_04.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_05.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_06.png' alt='')
          .carousel-cell.partners__card
            a.partners__link(href='#')
              img.partners__image(src='img/common/partners/partner_07.png' alt='')

    
    div

    section.trainings.none
      .container
        p.trainings__subtitle TEACHER TRAININGS
        h2.trainings__title Upcoming Trainings
      .carusel-container
        .carousel.trainings__carousel(data-flickity='{ "wrapAround": false,  "prevNextButtons": false}')
          .carousel-cell
            .trainings__card
              .trainings__card-wrap
                picture
                  source(srcset='./images/mobile/trainings/training-card-pc.png' media='(min-width: 1200px)')
                  source(srcset='./images/mobile/trainings/training-card-2.png' media='(min-width: 768px)')
                  source(srcset='./images/mobile/trainings/training-card-2.png' media='(min-width: 300px)')
                  img.trainings__card-image(src='img/mobile/news/image-01-01.png' alt='image')
                img.trainings__card-wave(src='img/mobile/trainings/wave.png' alt='')
                .trainings__card-image-info
                  .trainings__card-image-info-yoga
                    img.trainings__card-image-info-yoga-icon(src='img/mobile/trainings/training-card-icon-01.png' alt='')
                    p.trainings__card-image-info-yoga-text Tantra
                  br
                  .trainings__card-image-info-mobile
                    .trainings__card-image-info-level Level 1+2. Practitioner
                    br
                    .trainings__card-image-info-type Teacher Training
              .trainings__info
                p.trainings__info-date november 2022
                p.trainings__info-title Tantra method teacher training
                .trainings__card-image-info-pc
                  .trainings__card-image-info-level Level 1+2. Practitioner
                  br
                  .trainings__card-image-info-type Teacher Training
                .trainings__info-date-wrapper
                  img.trainings__info-date-icon(src='img/mobile/trainings/calendar-days.png' alt='')
                  p.trainings__info-date-date Nov 11, 2022 to Sep 15, 2023
                .trainings__info-language-wrapper
                  img.trainings__info-language-icon(src='img/mobile/trainings/globe.png')
                  p.trainings__info-language-title English
                .trainings__info-hours-wrapper
                  img.trainings__info-hours-image(src='img/mobile/trainings/play-circle.png' alt='')
                  p.trainings__info-hours-title 500 hours
                .trainings__info-status Online
                a.primary__btn.trainings__btn-primary(href='') Start from 1950&euro;
          .carousel-cell
            .trainings__card
          .carousel-cell
            .trainings__card
          .carousel-cell
            .trainings__card
          .carousel-cell
            .trainings__card
          .carousel-cell
            .trainings__card
          .carousel-cell
            .trainings__card
      .container
        a.secondary__btn.trainings__btn(href='#') View all trainings

    
    div
    section.agitation.none
      .container
        img.agitation__deko--line-1(src='img/mobile/line.png' alt='line')
        p.agitation__subtitle
          | EXPERIENCE INNERCAMP
        h2.agitation__title
          | Come join our workshops and try the InnerCamp Method
        p.agitation__text
          | Experience the benefits of our virtual and in-person workshops.
        img.agitation__deko--line-2(src='img/mobile/line.png' alt='line')

    
    div

    section.workshop.none
      .container
        p.workshop__subtitle TEACHER TRAININGS
        h2.workshop__title Upcoming Workshops
      .carusel-container
        .carousel.workshop__slider(data-flickity='{ "wrapAround": false, "prevNextButtons": false}')
          .carousel-cell.workshop__cell
            .workshop__card
              .workshop__type-wrapper
                img.workshop__type-icon(src='img/mobile/workshop/icon-01.png' alt='')
                p.workshop__type-title Tantra
              .workshop__card-info-wrapper
                .workshop__card-info-type-wrapper
                  img.workshop__card-info-type-icon(src='img/mobile/workshop/icon-11.png' alt='')
                  p.workshop__card-info-type-title Zoom meeting in English
                .workshop__card-info-date-wrapper
                  img.workshop__card-info-date-icon(src='img/mobile/workshop/calendar-days.png' alt='')
                  p.workshop__card-info-date-title Nov 11
              p.workshop__card-title Awakening your 3 power centers
              p.workshop__card-text Bring back the power to create inner strength and joy.
              .workshop__card-footer
                .workshop__card-footer-author-wrapper
                  img.workshop__card-footer-author-image(src='img/mobile/workshop/author-01.jpg' alt='')
                  p.workshop__card-footer-author-name Marjolein Van Ommeren
                a.secondary__btn.workshop__card-btn(href='') Join for free
          .carousel-cell.workshop__cell
            .workshop__card
          .carousel-cell.workshop__cell
            .workshop__card
              .workshop__type-wrapper
                img.workshop__type-icon(src='img/mobile/workshop/icon-01.png' alt='')
                p.workshop__type-title Tantra
              .workshop__card-info-wrapper
                .workshop__card-info-type-wrapper
                  img.workshop__card-info-type-icon(src='img/mobile/workshop/icon-11.png' alt='')
                  p.workshop__card-info-type-title Zoom meeting in English
                .workshop__card-info-date-wrapper
                  img.workshop__card-info-date-icon(src='img/mobile/workshop/calendar-days.png' alt='')
                  p.workshop__card-info-date-title Nov 11
              p.workshop__card-title Awakening your 3 power centers
              p.workshop__card-text Bring back the power to create inner strength and joy.
              .workshop__card-footer
                .workshop__card-footer-author-wrapper
                  img.workshop__card-footer-author-image(src='img/mobile/workshop/author-01.jpg' alt='')
                  p.workshop__card-footer-author-name Marjolein Van Ommeren
                a.secondary__btn.workshop__card-btn(href='') Join for free
          .carousel-cell.workshop__cell
            .workshop__card
              .workshop__type-wrapper
                img.workshop__type-icon(src='img/mobile/workshop/icon-01.png' alt='')
                p.workshop__type-title Tantra
              .workshop__card-info-wrapper
                .workshop__card-info-type-wrapper
                  img.workshop__card-info-type-icon(src='img/mobile/workshop/icon-11.png' alt='')
                  p.workshop__card-info-type-title Zoom meeting in English
                .workshop__card-info-date-wrapper
                  img.workshop__card-info-date-icon(src='img/mobile/workshop/calendar-days.png' alt='')
                  p.workshop__card-info-date-title Nov 11
              p.workshop__card-title Awakening your 3 power centers
              p.workshop__card-text Bring back the power to create inner strength and joy.
              .workshop__card-footer
                .workshop__card-footer-author-wrapper
                  img.workshop__card-footer-author-image(src='img/mobile/workshop/author-01.jpg' alt='')
                  p.workshop__card-footer-author-name Marjolein Van Ommeren
                a.secondary__btn.workshop__card-btn(href='') Join for free
          .carousel-cell.workshop__cell
            .workshop__card
              .workshop__type-wrapper
                img.workshop__type-icon(src='img/mobile/workshop/icon-01.png' alt='')
                p.workshop__type-title Tantra
              .workshop__card-info-wrapper
                .workshop__card-info-type-wrapper
                  img.workshop__card-info-type-icon(src='img/mobile/workshop/icon-11.png' alt='')
                  p.workshop__card-info-type-title Zoom meeting in English
                .workshop__card-info-date-wrapper
                  img.workshop__card-info-date-icon(src='img/mobile/workshop/calendar-days.png' alt='')
                  p.workshop__card-info-date-title Nov 11
              p.workshop__card-title Awakening your 3 power centers
              p.workshop__card-text Bring back the power to create inner strength and joy.
              .workshop__card-footer
                .workshop__card-footer-author-wrapper
                  img.workshop__card-footer-author-image(src='img/mobile/workshop/author-01.jpg' alt='')
                  p.workshop__card-footer-author-name Marjolein Van Ommeren
                a.secondary__btn.workshop__card-btn(href='') Join for free
          .carousel-cell.workshop__cell
            .workshop__card
              .workshop__type-wrapper
                img.workshop__type-icon(src='img/mobile/workshop/icon-01.png' alt='')
                p.workshop__type-title Tantra
              .workshop__card-info-wrapper
                .workshop__card-info-type-wrapper
                  img.workshop__card-info-type-icon(src='img/mobile/workshop/icon-11.png' alt='')
                  p.workshop__card-info-type-title Zoom meeting in English
                .workshop__card-info-date-wrapper
                  img.workshop__card-info-date-icon(src='img/mobile/workshop/calendar-days.png' alt='')
                  p.workshop__card-info-date-title Nov 11
              p.workshop__card-title Awakening your 3 power centers
              p.workshop__card-text Bring back the power to create inner strength and joy.
              .workshop__card-footer
                .workshop__card-footer-author-wrapper
                  img.workshop__card-footer-author-image(src='img/mobile/workshop/author-01.jpg' alt='')
                  p.workshop__card-footer-author-name Marjolein Van Ommeren
                a.secondary__btn.workshop__card-btn(href='') Join for free
      .container
        a.secondary__btn.workshop__btn(href='#') View all workshops

    
    div

    section.mission.none
      .container
        .mission__container
          p.mission__subtitle Our Mission
          h2.mission__title You become part of something bigger.
          p.mission__text
            | Our expert-led experiences are powered by science and extensive spiritual
            | research. We have put a lot of thought, time and love behind each course to help you progress
            | and
            | lead others through times of change.
          p.mission__text
            | We are a global community that has established a new approach to the world of holistic health
            | and
            | creates a safe environment for learning and growth. Through the contemporary teachings of
            | Breathwork, Tantra and Energy Work we create a vision for the life you want while increasing
            | knowledge and providing tools to fulfil your dreams.
          p
          a.primary__btn.mission__btn(href='') Discover our trainings
        img.mission__img1(src='img/common/mission/Vector.png' alt='')
        img.mission__img2(src='img/common/mission/Ellipse.png' alt='')

    
    div

    section.testimonias
      .container
        p.testimonias__subtitle testimonias
        h2.testimonias__title Have a look at what our students have to say about InnerCamp
        img.testimonias__line(src='img/mobile/line-orange.png' alt='')
        img.testimonias__line-2(src='img/mobile/line-orange.png' alt='')
        .testimonias__slider
        ul.testimonias__list
          li.testimonias__item
            .testimonias__card
              p.testimonias__card-symbol &ldquo;
              p.testimonias__card-review
                | The structure of the course and shedule made it
                | completely doable while working. It gave me
                | all of the tools that I need to confidently use breathwork with my clients. As well as
                | teaching me to find my unique voice as a breathwork facilitator
              .testimonias__card-user
                a.primary__btn.testimonias__card-btn(href='') Discover our trainings
                .testimonias__card-user-wrapper-1
                  img.testimonias__card-user-image(src='img/testimonials/user.png' alt='')
                  div
                    p.testimonias__card-name JEN D
                    .testimonias__card-footer
                      .testimonias__card-position-wrapper
                        p.testimonias__card-position-company Breathwork 
                        p.testimonias__card-position-position  Teacher Training
                .testimonias__btns
                  a.testimonias__btns-btn-2
                  a.testimonias__btns-btn-1
          li.testimonias__item
            .testimonias__card
          li.testimonias__item
            .testimonias__card
          li.testimonias__item
            .testimonias__card

    
    div
    
    section.methods.none
      .container
        img.methods__deko--line-1(src='img/mobile/line.png' alt='line')
        h2.methods__title
          | Our Methods help
          | increase energy levels
        img.methods__deko--line-2(src='img/mobile/line.png' alt='line')
        a.primary__btn.methods__btn(href='#')
          | Discover our trainings
        img.methods__deko--line-3(src='img/mobile/line.png' alt='line')
        img.methods__deko--line-4(src='img/mobile/line.png' alt='line')
        a.methods__contact(href='')
          img.methods__contact-image(src='img/common/message-square.svg' alt='Text us')

    
    div

    footer.footer.none
      .container
        .footer__container
          nav.footer__nav
            ul.footer-mobile__menu-list
              li.footer-mobile__menu-item
                p.footer-mobile__menu-title Experiences
                img.footer-mobile__line(src='img/mobile/line.png' alt='line')
                ul.footer-mobile__submenu-list
                  li.footer-mobile__submenu-item
                    a.footer-mobile__submenu-link(href='')
                      | Virtual
                      | Workshops
                  li.footer-mobile__submenu-item
                    a.footer-mobile__submenu-link(href='') Onsite Retreats
                  li.footer-mobile__submenu-item
                    a.footer-mobile__submenu-link(href='') Find a Coach
              li.footer-mobile__menu-item
                p.footer-mobile__menu-title About us
                img.footer-mobile__line(src='img/mobile/line.png' alt='line')
                ul.footer-mobile__submenu-list
                  li.footer-mobile__submenu-item
                    a.footer-mobile__submenu-link(href='')
                      | Virtual
                      | Workshops
                  li.footer-mobile__submenu-item
                    a.footer-mobile__submenu-link(href='') Onsite Retreats
                  li.footer-mobile__submenu-item
                    a.footer-mobile__submenu-link(href='') Find a Coach
              li.footer-mobile__menu-item
                p.footer-mobile__menu-title Partnership
                img.footer-mobile__line(src='img/mobile/line.png' alt='line')
                ul.footer-mobile__submenu-list
                  li.footer-mobile__submenu-item
                    a.footer-mobile__submenu-link(href='')
                      | Virtual
                      | Workshops
                  li.footer-mobile__submenu-item
                    a.footer-mobile__submenu-link(href='') Onsite Retreats
                  li.footer-mobile__submenu-item
                    a.footer-mobile__submenu-link(href='') Find a Coach
              li.footer-mobile__menu-item
                p.footer-mobile__menu-title Contacts
                img.footer-mobile__line(src='img/mobile/line.png' alt='line')
                ul.footer-mobile__submenu-list
                  li.footer-mobile__submenu-item
                    a.footer-mobile__submenu-link(href='')
                      | Virtual
                      | Workshops
                  li.footer-mobile__submenu-item
                    a.footer-mobile__submenu-link(href='') Onsite Retreats
                  li.footer-mobile__submenu-item
                    a.footer-mobile__submenu-link(href='') Find a Coach
              li.footer-mobile__menu-item
                p.footer-mobile__menu-title Legal
                img.footer-mobile__line(src='img/mobile/line.png' alt='line')
                ul.footer-mobile__submenu-list
                  li.footer-mobile__submenu-item
                    a.footer-mobile__submenu-link(href='')
                      | Virtual
                      | Workshops
                  li.footer-mobile__submenu-item
                    a.footer-mobile__submenu-link(href='') Onsite Retreats
                  li.footer-mobile__submenu-item
                    a.footer-mobile__submenu-link(href='') Find a Coach
          nav
            ul.footer-menu
              li.footer-menu__item
                p.footer-menu__title Experiences
                ul.footer-menu-block1__list
                  li.footer-menu__item
                    a.footer-menu__link(href='') Get Certified 
                  li.footer-menu__item
                    a.footer-menu__link(href='')
                      | Virtual Workshops
                  li.footer-menu__item
                    a.footer-menu__link(href='') Onsite Retreats 
                  li.footer-menu__item
                    a.footer-menu__link(href='') Find a Coach 
              li.footer-menu__item
                p.footer-menu__title About us
                ul.footer-menu-block2__list
                  li.footer-menu__item
                    a.footer-menu__link(href='') InnerCamp Team 
                  li.footer-menu__item
                    a.footer-menu__link(href='') Testimonials
                  li.footer-menu__item
                    a.footer-menu__link(href='') FAQ
                  li.footer-menu__item
                    a.footer-menu__link(href='') Blog
                  li.footer-menu__item
                    a.footer-menu__link(href='') Careers
              li.footer-menu__item
                p.footer-menu__title Partnership
                ul.footer-menu-block3__list
                  li.footer-menu__item
                    a.footer-menu__link(href='') Affiliate Program
                  li.footer-menu__item
                    a.footer-menu__link(href='')
                      | InnerCamp for
                      | Corporate
                  li.footer-menu__item
                    a.footer-menu__link(href='') Collaborations
              li.footer-menu__item
                ul.footer-menu-block4__list
                  li.footer-menu__item
                    a.footer-menu__link(href='')
                      img(src='img/common/footer/ico-phone.png' alt='')
                      | Request a callback
                  li.footer-menu__item
                    a.footer-menu__link(href='mailto:contact@innercamp.com')
                      img(src='img/common/footer/ico-mail.png' alt='')
                      | contact@innercamp.com
                  li.footer-menu__item
                    a.footer-menu__link(href='')
                      img(src='img/common/footer/ico-pin.png' alt='')
                      | Marbella | Bali | Tallin
          .footer__tablet-bl2
            .footer__appstore
              p.footer__appstore-title Download The App
              ul.footer__appstore-list
                li.footer__appstore-item
                  a.footer__appstore-link(href='')
                    img.footer__appstore-image(src='img/common/play-market-mobile@1x.png' alt='')
                li.footer__appstore-item
                  a.footer__appstore-link(href='')
                    img.footer__appstore-image(src='img/common/app-store-mobile@1x.png' alt='')
            .footer__join
              h2.footer__join-title Join thousands of changemakers 
              p.footer__join-subtitle Receive a 50&euro; discount when you sign up
            form.footer__subscribe
              .footer__subscribe-wrapper
                input.footer__subscribe-input(type='text' placeholder='Your email')
                button.footer__subscribe-title(type='submit' href='') Subscribe
              .footer__subscribe-agree
                input#checkbox.footer__subscribe-agree-checkbox(type='checkbox' name='checkbox')
                .footer__subscribe-agree-custom-checkbox
                  a.footer__subscribe-agree-custom-checkbox-link(href='')
                label.footer__subscribe-agree-text(for='checkbox')
                  | Yes, I would like to subscribe to
                  | the InnerCamp
                  | newsletter.
                  | I agree to let InnerCamp process my personal data in order to send me personalised
                  | marketing
                  | material, in accordance with the 
                  a.footer__subscribe-agree-legacy(href='')
                    | privacy
                    | notice
                  | . I confirm that I am 18 years old or older.
        .footer__social-wrapper
          a(href='#')
            img.logo.footer__logo(src='img/logo.png' alt='logo')
          ul.footer__social-list
            li.footer__social-item
              a.footer__social-link(href='')
                img.footer__social-image(src='img/common/footer-social-mobile-1.png' alt='')
            li.footer__social-item
              a.footer__social-link(href='')
                img.footer__social-image(src='img/common/footer-social-mobile-2.png' alt='')
            li.footer__social-item
              a.footer__social-link(href='')
                img.footer__social-image(src='img/common/footer-social-mobile-3.png' alt='')
            li.footer__social-item
              a.footer__social-link(href='')
                img.footer__social-image(src='img/common/footer-social-mobile-4.png' alt='')
        img.footer__social-line(src='img/mobile/line.png' alt='line')
        .footer__copyright__wrapper
          ul.footer__copyright__list
            ul.footer__copyright__item
              a.footer__copyright__link(href='') Terms of Use
            ul.footer__copyright__item
              a.footer__copyright__link(href='')
                | Privacy Policy &amp;
                | Safety
            ul.footer__copyright__item
              a.footer__copyright__link(href='') Legal
            ul.footer__copyright__item
              a.footer__copyright__link(href='') Cookies
          p.footer__copyright &copy; 2022 InnerCamp

    
    div
    div
    div
    div
    div
    div
    div
    
    
    
                
    header.account.none
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;')
              img.logo__img(src='img/logo.svg', alt='logo_black')
 

          
    section#sec-1.section__1.none
      video#video_1( playsinline='', autoplay='', muted='', loop='', preload='none')
        source(src='video/background.mp4', type='video/mp4')
      .container
        .row
          .col.m12.s12.l12.xl12
            img(src='img/logo.png', alt='logo_black')
          
    section#sec-2.section__2.none
      .container
        .row
          .col.m12.s12.l12.xl12
            h2 @splidejs/splide
            #post__slid.splide
              .splide__track
                ul.splide__list
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')

            .logo_before
          
    section#sec-3.section__3.none
      .container
        .row
          .col.m12.s12.l12.xl12
            h2 section__3
            .logo_svg
            img.lazy__(data-src='img/logo.svg', alt='logo_brand_1')
    section#sec-4.section__4.none
      .container
        .row
          .col.m12.s12.l12.xl12
            h2 section__4
            .logo_40
          
    section#sec-5.section__5.none
      .container
        .row
          .col.m12.s12.l12.xl12
            h2 section__5

  
  
          
    section.section__.event__1.none
      .container
        .row
          .col.m12.s12.l12.xl12
            ul.top
              li(data-top='1')
                a.active(href='javascript:;') Account detals
              li(data-top='2')
                a(href='javascript:;') MY ITEMS
              li(data-top='3')
                a(href='javascript:;') QI LIBRARY




                  
    a.bot_modal.none(data-fancybox='', data-src='#modal-1', href='javascript:;') Open Modal 1
    // //// MODAL ////
    #modal-1.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phone')

          button.green(type='submit', name='send') Send
          
          
          
    a.bot_modal(data-fancybox='', data-src='#modal-2', href='javascript:;') Open Modal 2
    // //// MODAL ////
    #modal-2.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phome')
              
          .form_input
            span.field
              textarea.textarea(name='message', required='', value='', placeholder='You message')

          button.green(type='submit', name='send') Send




    //script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      // console.log('index.pug');

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });

        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });

      });


